@inherits LayoutComponentBase

<div class="bg-info text-white p-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <span class="navbar-brand ml-2">NINE STAR KI</span>
            </div>
            <div class="col-2 text-right">
                <a class="btn btn-sm btn-primary" href="/">Home</a>
            </div>
        </div>
    </div>
</div>
<div>
    @Body
</div>