@page "/{id:int}/Music"
@using System.Text.Json;
@using Microsoft.Extensions.Caching.Distributed;
@inject IDistributedCache cache
@inject IRepository Repository
@inject Calculator Calculator

<h5 class="text-center text-danger m-2 p-2"> @Personality.Key.@Personality.Value </h5>
@foreach (var occasion in Occasions)
{
    <MusicView Name=@occasion.Name Musicians=@MusiciansToShow(occasion) DataType=@DataType />
}

<div class="text-center m-2 p-2">
    <NavLink class="btn btn-secondary mx-1 px-2" href=@($"/{Id}")>Back</NavLink>
    <button class="btn btn-primary mx-1 px-2" @onclick="HandleClick">@ButtonLabel</button>
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    public Personality Personality { get; set; }

    public IEnumerable<Musician> Musicians { get; set; }

    public IEnumerable<Occasion> Occasions { get; set; }

    public int DataType { get; set; } = 0;

    public string ButtonLabel { get; set; } = "Recordings";

    public IEnumerable<Musician> MusiciansToShow(Occasion o)
    {
        var occasionMusicians = Musicians
            .Where(m => m.Occasions.Contains(o));
        var distinctMusicians = occasionMusicians
            .GroupBy(m => m.Name)
            .Select(g => g.First())
            .ToList();
        return DataType == 1 ? occasionMusicians : distinctMusicians;
    }

    protected async override void OnParametersSet()
    {
        string number = Id.ToString();
        Personality = new Personality(number);

        IEnumerable<Musician> allMusicians;
        List<Musician> selectedMusicians = new List<Musician>();

        if (!typeof(Repository).IsAssignableFrom(Repository.GetType()))
        {
            string musiciansKey = $"musicians";

            string musiciansData = await cache.GetStringAsync(musiciansKey);

            if (musiciansData == null)
            {
                allMusicians = Repository.Musicians;

                await cache.SetStringAsync(musiciansKey, JsonSerializer.Serialize(allMusicians),
                    new DistributedCacheEntryOptions
                    {
                        AbsoluteExpirationRelativeToNow = TimeSpan.FromMinutes(10)
                    });
            }
            else
            {
                allMusicians = JsonSerializer.Deserialize<List<Musician>>(musiciansData);
            }
        }
        else
        {
            allMusicians = Repository.Musicians;
        }

        foreach (Musician musician in allMusicians)
        {
            if (Check(musician))
            {
                selectedMusicians.Add(musician);
            }
        }

        Musicians = selectedMusicians;
        Occasions = Musicians.SelectMany(m => m.Occasions).Distinct().OrderBy(o => o.Id);
    }

    private bool Check(Musician musician)
    {
        if (string.IsNullOrEmpty(musician.Numbers) || !musician.Numbers.Contains(',')
            || !musician.Numbers.Contains('&') && musician.Numbers.Count(f => f == ',') < 2)
        {
            return false;
        }

        String[] numbers = musician.Numbers
            .Replace(" & ", ", ")
            .Split(", ", StringSplitOptions.RemoveEmptyEntries);

        List<int> result = new List<int>(numbers.Length);

        foreach (string num in numbers)
        {
            if (num.Length == 1)
            {
                return false;
            }
            Personality personality = new Personality(num);

            result.Add(Calculator.ProcessNumbers(Personality, personality));
        }

        return result.Average() > 50;
    }

    private void HandleClick()
    {
        switch (DataType)
        {
            case 0:
                DataType = 1;
                ButtonLabel = "Numbers";
                break;
            case 1:
                DataType = 2;
                ButtonLabel = "Genres";
                break;
            case 2:
                DataType = 0;
                ButtonLabel = "Recordings";
                break;
            default:
                DataType = 0;
                ButtonLabel = "Recordings";
                break;
        }
    }
}